{%load static%}
{%block content%}
<head>
    <title>Change Password</title>
    <link rel="stylesheet" href="{%static 'accounts/base_accounts.css'%}">
</head>
<body>
   <div class="outer-div">
    <h2>Change Password</h2>
    <p>Do you want to change your password? <a href="{% url 'login'%}"><button>Cancel</button></a></p>

    <form action="{%url 'change_password'%}" method="post">
        {%csrf_token%}
        {{form.as_p}}

        <button type="submit">Change</button>
    </form>
   </div>
</body>
{%endblock%}