{%load static%}
{%block content%}
<head>
    <title>Password Reset</title>
    <link rel="stylesheet" href="{%static 'accounts/base_accounts.css'%}">
</head>
<body>
   <div class="outer-div">
    <h2>Reset Your Password</h2>
    <p>Enter New Password Twice:</p>

    {%if validlink%}
            
        <form action="{%url 'confirm_reset'%}" method="post">
            {%csrf_token%}
            {{form.as_p}}
            <button type="submit">Change Password</button>
        </form>
    {%else%}
        <p>The password reset link was invalid, possibly because it has 
        already been used. Please request a new password reset.</p>
    {%endif%}
   </div>
</body>
{%endblock%}