{%load static%}
{%block content%}
<head>
    <title>Reset Your Passwprd</title>
    <link rel="stylesheet" href="{%static 'accounts/base_accounts.css'%}">
</head>
<body>
   <div class="outer-div">
        <h1>Reset Your Password!</h1>
        <p>We've emailed you instructions for setting your password.</p>

        <p>If you don't receive an email, please make sure you've entered 
       the address you registered with.</p>

       <a href="{% url 'login'%}"><button>Back</button></a>
   </div>
</body>
{%endblock%}