{%load static%}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
<article class="mt-2 mx-5">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active panda-bg-info rounded-3 p-5">
        <div class="row">
          <div class="col-lg-7 d-flex align-items-center">
            <div>
              <h1>Buy Christimas Gift</h1>
              <p>
                This is a christmas gift for your family. Enjoy the best of Electronics.
              </p>
              <h1 class="price-color">$420</h1>
              <button
                class="btn btn-primary text-white px-4 py-2 rounded-3"
              >
                Buy Now
              </button>
            </div>
          </div>
          <div class="col-lg-5">
            <img
              src="appliances.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
      </div>
      <div class="carousel-item panda-bg-info rounded-3 p-5">
        <div class="row">
          <div class="col-lg-7 d-flex align-items-center">
            <div>
              <h1>Electronics for your Office</h1>
              <p>
                Work in your office with best computer
              </p>
              <h1 class="price-color">$1200</h1>
              <button
                class="btn btn-primary text-white px-4 py-2 rounded-3" 
              >
                Buy Now
              </button>
            </div>
          </div>
          <div class="col-lg-5 carousal-img">
            <img
              class="img-fluid"
              src="./computer1.webp"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
      </div>
      <div class="carousel-item panda-bg-info rounded-3 p-5">
        <div class="row">
          <div class="col-lg-7 d-flex align-items-center">
            <div>
              <h1>Best Computer with Discount</h1>
              <p>
                Buy this smart Computer. It's new. Get It on Cheap price.
              </p>
              <h1 class="price-color">$600</h1>
              <button
                class="btn btn-color text-white px-4 py-2 rounded-3"
              >
                Buy Now
              </button>
            </div>
          </div>
          <div class="col-lg-5">
            <img
              src="./computer2.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</article>