
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<div class="mt-5">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #575353"
            >
      <!-- Grid container -->
      <div class="container p-4 pb-4">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h4 class="text-uppercase mb-4 font-weight-bold">
                Electron Shop
              </h4>
              <p class="fw-bold h5">
                We bring best quality products nearest to you.
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
              <p>
                <a href="{%url 'all_laptops' %}" class="text-white">Laptops</a>
              </p>
              <p>
                <a  href="{%url 'all_phones' %}" class="text-white">Smart Phones</a>
              </p>
              <p>
                <a href="{%url 'all_gadgets' %}" class="text-white">Gadgets</a>
              </p>
              <p>
                <a  href="{%url 'home_index' %}" class="text-white">All</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
              <p><i class="fas fa-home mr-3"><span class="px-3">Kigali, Rwanda. Nyarugenge</span></i></p>
              <p><i class="fas fa-envelope mr-3"><span class="px-3">mk.frmh3@gmail.com</span></i></p>
              <p><i class="fas fa-phone mr-3"><span class="px-3">+250781798030</span></i></p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>
                
              <!--Github-->
            <a class="btn btn-primary" style="background-color: #333333;" href="#!" role="button"
              ><i class="fab fa-github"></i>
            </a>

                    <!--Facebook-->
        <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
        ></a>

        <!-- Instagram -->
        <a class="btn btn-primary" style="background-color: #ac2bac;" href="#!" role="button"
        ><i class="fab fa-instagram"></i
        ></a>
<!--lINKEDiN-->
        <a class="btn btn-primary mt-3" style="background-color: #0082ca;" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

            </div>
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 
        <a class="text-white" href=""
           >Mukama Francois</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->